# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [64]:
# Import your libraries:
import pandas as pd
import numpy as np
from sklearn import datasets

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_diabetes.html)).

In [65]:
# Your code here:
diabetes = datasets.load_diabetes()

Let's explore this variable by looking at the different attributes (keys) of `diabetes`. Note that the `load_diabetes` function does not return dataframes. It returns you a Python dictionary.

In [66]:
# Your code here:
diabetes.keys()

dict_keys(['data', 'target', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

#### The next step is to read the description of the dataset. 

Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable. Read the data description carefully to fully understand what each column represents.

*Hint: If your output is ill-formatted by displaying linebreaks as `\n`, it means you are not using the `print` function.*

In [67]:
# Your code here:
print(diabetes.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - Age
      - Sex
      - Body mass index
      - Average blood pressure
      - S1
      - S2
      - S3
      - S4
      - S5
      - S6

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

#### Based on the data description, answer the following questions:

1. How many attributes are there in the data? What do they mean?

1. What is the relation between `diabetes['data']` and `diabetes['target']`?

1. How many records are there in the data?

In [68]:
# Enter your answer here:
# There are 10 attributes (indpendent variables, column 11 is the dependant ariable, that is,
# it has to do with diabetes)

#### Now explore what are contained in the *data* portion as well as the *target* portion of `diabetes`. 

Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). Inspect the shape of `data` and `target`. Confirm they are consistent with the data description.

In [69]:
# Your code here:
print(diabetes.data.shape)
print(diabetes.target.shape)

(442, 10)
(442,)

# Challenge 2 - Perform Supervised Learning on the Dataset

The data have already been split to predictor (*data*) and response (*target*) variables. Given this information, we'll apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset.

#### Let's briefly revisit the linear regression formula:

```
y = β0 + β1X1 + β2X2 + ... + βnXn + ϵ
```

...where:

- X1-Xn: data 
- β0: intercept 
- β1-βn: coefficients 
- ϵ: error (cannot explained by model)
- y: target

Also take a look at the `sklearn.linear_model.LinearRegression` [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html).

#### In the cell below, import the `linear_model` class from `sklearn`.

In [70]:
# Your code here:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

#### Create a new instance of the linear regression model and assign the new instance to the variable `diabetes_model`.

In [71]:
# Your code here:
diabetes_model = LinearRegression()

#### Next, let's split the training and test data.

Define `diabetes_data_train`, `diabetes_target_train`, `diabetes_data_test`, and `diabetes_target_test`. Use the last 20 records for the test data and the rest for the training data.

In [72]:
# Your code here:
X_train, X_test, y_train, y_test = train_test_split(diabetes.data, diabetes.target, test_size=.2, random_state=101)

Fit the training data and target to `diabetes_model`. Print the *intercept* and *coefficients* of the model.

In [73]:
# Your code here:
diabetes_model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [74]:
diabetes_model.intercept_

151.70363445605867

In [75]:
diabetes_model.coef_

array([  -9.41968901, -252.58184546,  534.64170867,  307.38673495,
       -600.46749221,  318.56697568,   61.47570019,  193.13448206,
        703.51327421,   34.18660706])

#### Inspecting the results

From the outputs you should have seen:

- The intercept is a float number.
- The coefficients are an array containing 10 float numbers.

This is the linear regression model fitted to your training dataset.

#### Using your fitted linear regression model, predict the *y* of `diabetes_data_test`.

In [76]:
# Your code here:
y_pred = diabetes_model.predict(X_test)

#### Print your `diabetes_target_test` and compare with the prediction.

In [77]:
# Your code here:
print(y_pred)
print(y_test)

[116.137549   125.9251187  253.2373469  120.73730687 197.87637356
 173.18416247 228.40887015 130.2703026  228.92000033  74.18109735
  94.05871263 189.39225778 109.64305873 170.57369936 103.0818814
 231.92522621 108.55266013 149.20249369 232.31168983  82.72541526
 186.87154143 101.36687713 217.46875565  66.37155165 123.28514437
 143.83081651 163.34941826 123.37701048 147.75453894  73.05344081
 144.58614106 118.45462607 175.24790162 130.34689062  70.67871411
 240.87278794 152.86346749 136.33476967  65.79417365 194.64771106
 157.77858229  93.00667929 120.10318201 285.52149491 241.86175966
  98.96768695 103.04121301 269.99085349 170.40092915 199.3141372
  94.64958986 145.79507546  94.58240191 121.23731838  77.37411291
 188.57894872  84.77760341 182.74892733 166.94627461 157.12540392
 106.3731781   79.30717366  34.82900387 255.75840352 173.41722638
 115.5956901  145.53984553 122.64200169  78.01216798 209.70595706
 123.373198   231.51798194 250.46345217 228.23067105 167.0181958
 280.81126309 193.47820023 208.16774758 295.53859663  97.07244568
 132.79961293 154.56798865 120.11975165 102.98472478  69.2460695
  86.22407492 166.87265887 128.70374265 223.93172961]
[179. 168. 281.  60. 186. 258. 317. 140. 152. 134. 115. 164.  72. 128.
 129. 281. 199. 197. 275.  60. 232.  84. 173.  83. 162. 172. 245.  44.
 202. 104. 168. 178. 141. 103.  59. 274. 185.  90.  72. 281. 154.  64.
 253. 242. 252.  47. 108. 346. 190. 137. 118.  25.  54.  51.  59.  67.
  71.  91. 184. 110. 111.  80.  45. 263. 180.  79.  90. 144.  92. 265.
  92. 217. 336. 208. 122. 281. 272.  52. 258.  49. 148. 104. 160.  94.
 143.  51. 225. 135. 257.]

In [78]:
y_test - y_pred

array([  62.862451  ,   42.0748813 ,   27.7626531 ,  -60.73730687,
        -11.87637356,   84.81583753,   88.59112985,    9.7296974 ,
        -76.92000033,   59.81890265,   20.94128737,  -25.39225778,
        -37.64305873,  -42.57369936,   25.9181186 ,   49.07477379,
         90.44733987,   47.79750631,   42.68831017,  -22.72541526,
         45.12845857,  -17.36687713,  -44.46875565,   16.62844835,
         38.71485563,   28.16918349,   81.65058174,  -79.37701048,
         54.24546106,   30.94655919,   23.41385894,   59.54537393,
        -34.24790162,  -27.34689062,  -11.67871411,   33.12721206,
         32.13653251,  -46.33476967,    6.20582635,   86.35228894,
         -3.77858229,  -29.00667929,  132.89681799,  -43.52149491,
         10.13824034,  -51.96768695,    4.95878699,   76.00914651,
         19.59907085,  -62.3141372 ,   23.35041014, -120.79507546,
        -40.58240191,  -70.23731838,  -18.37411291, -121.57894872,
        -13.77760341,  -91.74892733,   17.05372539,  -47.12540392,
          4.6268219 ,    0.69282634,   10.17099613,    7.24159648,
          6.58277362,  -36.5956901 ,  -55.53984553,   21.35799831,
         13.98783202,   55.29404294,  -31.373198  ,  -14.51798194,
         85.53654783,  -20.23067105,  -45.0181958 ,    0.18873691,
         78.52179977, -156.16774758,  -37.53859663,  -48.07244568,
         15.20038707,  -50.56798865,   39.88024835,   -8.98472478,
         73.7539305 ,  -35.22407492,   58.12734113,    6.29625735,
         33.06827039])

#### Is `diabetes_target_test` exactly the same as the model prediction? Explain.

In [79]:
# Your explanation here:
# No it is not, you can see the differences between the predictions and the test
# are actually quite different

In [80]:
# Your code here:
import statsmodels as sm

# Challenge 3 - Peform Supervised Learning on a Pandas Dataframe

Now that we have dealt with data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [81]:
# Your code here:
auto = pd.read_csv('../auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [82]:
# Your code here:
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [83]:
# Your code here:
auto.dtypes

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

What is the newest model year and the oldest model year?

In [84]:
# Your code here:
auto[auto['model_year'] == auto['model_year'].min()]

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""
5,15.0,8,429.0,198.0,4341,10.0,70,"\t""ford galaxie 500"""
6,14.0,8,454.0,220.0,4354,9.0,70,"\t""chevrolet impala"""
7,14.0,8,440.0,215.0,4312,8.5,70,"\t""plymouth fury iii"""
8,14.0,8,455.0,225.0,4425,10.0,70,"\t""pontiac catalina"""
9,15.0,8,390.0,190.0,3850,8.5,70,"\t""amc ambassador dpl"""
10,15.0,8,383.0,170.0,3563,10.0,70,"\t""dodge challenger se"""
11,14.0,8,340.0,160.0,3609,8.0,70,"\t""plymouth 'cuda 340"""
12,15.0,8,400.0,150.0,3761,9.5,70,"\t""chevrolet monte carlo"""
13,14.0,8,455.0,225.0,3086,10.0,70,"\t""buick estate wagon (sw)"""
14,24.0,4,113.0,95.0,2372,15.0,70,"\t""toyota corona mark ii"""
15,22.0,6,198.0,95.0,2833,15.5,70,"\t""plymouth duster"""
16,18.0,6,199.0,97.0,2774,15.5,70,"\t""amc hornet"""
17,21.0,6,200.0,85.0,2587,16.0,70,"\t""ford maverick"""
18,27.0,4,97.0,88.0,2130,14.5,70,"\t""datsun pl510"""
19,26.0,4,97.0,46.0,1835,20.5,70,"\t""volkswagen 1131 deluxe sedan"""
20,25.0,4,110.0,87.0,2672,17.5,70,"\t""peugeot 504"""
21,24.0,4,107.0,90.0,2430,14.5,70,"\t""audi 100 ls"""
22,25.0,4,104.0,95.0,2375,17.5,70,"\t""saab 99e"""
23,26.0,4,121.0,113.0,2234,12.5,70,"\t""bmw 2002"""
24,21.0,6,199.0,90.0,2648,15.0,70,"\t""amc gremlin"""
25,10.0,8,360.0,215.0,4615,14.0,70,"\t""ford f250"""
26,10.0,8,307.0,200.0,4376,15.0,70,"\t""chevy c20"""
27,11.0,8,318.0,210.0,4382,13.5,70,"\t""dodge d200"""
28,9.0,8,304.0,193.0,4732,18.5,70,"\t""hi 1200d"""

In [85]:
auto[auto['model_year'] == auto['model_year'].max()]

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
367,28.0,4,112.0,88.0,2605,19.6,82,"\t""chevrolet cavalier"""
368,27.0,4,112.0,88.0,2640,18.6,82,"\t""chevrolet cavalier wagon"""
369,34.0,4,112.0,88.0,2395,18.0,82,"\t""chevrolet cavalier 2-door"""
370,31.0,4,112.0,85.0,2575,16.2,82,"\t""pontiac j2000 se hatchback"""
371,29.0,4,135.0,84.0,2525,16.0,82,"\t""dodge aries se"""
372,27.0,4,151.0,90.0,2735,18.0,82,"\t""pontiac phoenix"""
373,24.0,4,140.0,92.0,2865,16.4,82,"\t""ford fairmont futura"""
374,23.0,4,151.0,NaN,3035,20.5,82,"\t""amc concord dl"""
375,36.0,4,105.0,74.0,1980,15.3,82,"\t""volkswagen rabbit l"""
376,37.0,4,91.0,68.0,2025,18.2,82,"\t""mazda glc custom l"""
377,31.0,4,91.0,68.0,1970,17.6,82,"\t""mazda glc custom"""
378,38.0,4,105.0,63.0,2125,14.7,82,"\t""plymouth horizon miser"""
379,36.0,4,98.0,70.0,2125,17.3,82,"\t""mercury lynx l"""
380,36.0,4,120.0,88.0,2160,14.5,82,"\t""nissan stanza xe"""
381,36.0,4,107.0,75.0,2205,14.5,82,"\t""honda accord"""
382,34.0,4,108.0,70.0,2245,16.9,82,"\t""toyota corolla"""
383,38.0,4,91.0,67.0,1965,15.0,82,"\t""honda civic"""
384,32.0,4,91.0,67.0,1965,15.7,82,"\t""honda civic (auto)"""
385,38.0,4,91.0,67.0,1995,16.2,82,"\t""datsun 310 gx"""
386,25.0,6,181.0,110.0,2945,16.4,82,"\t""buick century limited"""
387,38.0,6,262.0,85.0,3015,17.0,82,"\t""oldsmobile cutlass ciera (diesel)"""
388,26.0,4,156.0,92.0,2585,14.5,82,"\t""chrysler lebaron medallion"""
389,22.0,6,232.0,112.0,2835,14.7,82,"\t""ford granada l"""
390,32.0,4,144.0,96.0,2665,13.9,82,"\t""toyota celica gt"""
391,36.0,4,135.0,84.0,2370,13.0,82,"\t""dodge charger 2.2"""
392,27.0,4,151.0,90.0,2950,17.3,82,"\t""chevrolet camaro"""
393,27.0,4,140.0,86.0,2790,15.6,82,"\t""ford mustang gl"""
394,44.0,4,97.0,52.0,2130,24.6,82,"\t""vw pickup"""
395,32.0,4,135.0,84.0,2295,11.6,82,"\t""dodge rampage"""
396,28.0,4,120.0,79.0,2625,18.6,82,"\t""ford ranger"""
397,31.0,4,119.0,82.0,2720,19.4,82,"\t""chevy s-10"""

Check the dataset for missing values and remove all rows containing at least one missing value.

In [86]:
# Your code here:
auto.isnull().sum()
auto.dropna(inplace=True)

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [87]:
# Your code here:
auto['cylinders'].value_counts()

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

*Hint: To separate data for training and test, use the `train_test_split` method we used in previous labs.*

In [88]:
# Your code here
# Drop the car name
auto.drop('car_name', axis=1, inplace=True)

In [89]:
y = auto['mpg']

In [90]:
X = auto.copy()
X.drop('mpg', axis=1, inplace=True)

In [91]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Now we will processed and peform linear regression on this data to predict the mpg for each vehicle. 

#### In the next cell, create an instance of the linear regression model and call it `auto_model`. Fit `auto_model` with your training data.

In [92]:
# Your code here:
auto_model = LinearRegression()

In [93]:
auto_model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# Challenge 4 - Evaluate the Model

In addition to evaluating your model with F-test and t-test, you can also use the *Coefficient of Determination* (a.k.a. *r squared score*). This method does not simply tell *yes* or *no* about the model fit but instead indicates how much variation can be explained by the model. Based on the r squared score, you can decide whether to improve your model in order to obtain a better fit.

You can learn about the r squared score [here](). Its formula is:

![R Squared](../r-squared.png)

...where:

* yi is an actual data point.
* ŷi is the corresponding data point on the estimated regression line.

By adding the squares of the difference between all yi-ŷi pairs, we have a measure called SSE (*error sum of squares*) which is an application of the r squared score to indicate the extent to which the estimated regression model is different from the actual data. And we attribute that difference to the random error that is unavoidable in the real world. Obviously, we want the SSE value to be as small as possible.

#### In the next cell, compute the predicted *y* based on `X_train` and call it `y_pred`. Then calcualte the r squared score between `y_pred` and `y_train` which indicates how well the estimated regression model fits the training data.

*Hint: r squared score can be calculated using `sklearn.metrics.r2_score` ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html)).*

In [94]:
# Your code here:
from sklearn.metrics import r2_score

In [95]:
y_pred = auto_model.predict(X_train)

In [96]:
r2_score(y_pred, y_train)

0.7665327707747782

#### Our next step is to evaluate the model using the test data. 

We would like to ensure that our model is not overfitting the data. This means that our model was made to fit too closely to the training data by being overly complex. If a model is overfitted, it is not generalizable to data outside the training data. In that case, we need to reduce the complexity of the model by removing certain features (variables).

In the cell below, use the model to generate the predicted values for the test data and assign them to `y_test_pred`. Compute the r squared score of the predicted `y_test_pred` and the oberserved `y_test` data.

In [97]:
# Your code here:
y_test_pred = auto_model.predict(X_test)
r2_score(y_test_pred, y_test)

0.8037468831261814

#### Explaining the results

The r squared scores of the training data and the test data are pretty close (0.8146 vs 0.7818). This means our model is not overfitted. However, there is still room to improve the model fit. Move on to the next challenge.

# Challenge 5 - Improve the Model Fit

While the most common way to improve the fit of a model is by using [regularization](https://datanice.github.io/machine-learning-101-what-is-regularization-interactive.html), there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [98]:
# Your code here:
X_train09, X_test09, y_train09, y_test09 = train_test_split(X, y, test_size=0.1, random_state=42)

Initialize a new linear regression model. Name this model `auto_model09`. Fit the model to the new sample (training) data.

In [99]:
# Your code here:
auto_model09 = LinearRegression()
auto_model09.fit(X_train09, y_train09)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

Compute the predicted values and r squared score for our new model and new sample data.

In [100]:
# Your code here:
y_train_pred = auto_model.predict(X_train09)
r2_score(y_train09, y_train_pred)

0.8042346937195508

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [101]:
# Your code here:
y_test_pred = auto_model.predict(X_test09)
r2_score(y_test09, y_test_pred)

0.8440571020562742