# Get features and train/test model

In [1]:
import nltk
import pickle
from tqdm import tqdm
tqdm.pandas()

/Users/maxcarey/Library/Python/3.7/lib/python/site-packages/tqdm/std.py:658: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [2]:
# Import the corpus as a pandas data frame
pickle_in = open("my_corpus_processed","rb")
tweets = pickle.load(pickle_in)

In [3]:
tweets.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"[switchfoot, awww, bummer, shoulda, got, david..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,"[upset, update, facebook, texting, might, cry,..."
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,"[kenichan, dived, many, time, ball, managed, s..."
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,"[whole, body, feel, itchy, like, fire]"
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"[nationwideclass, behaving, mad, see]"

In [4]:
# Create an empty list to populate with all of the words
all_words = []

In [5]:
# Populate that list with the data frame

In [6]:
def populate_words(word_list):
    for word in word_list:
        all_words.append(word)

tweets['text'].apply(lambda x: populate_words(x))

0          None
1          None
2          None
3          None
4          None
           ...
1599995    None
1599996    None
1599997    None
1599998    None
1599999    None
Name: text, Length: 1600000, dtype: object

In [7]:
# Create an NLTK frequency distribution from those words:
all_words_nltk = nltk.FreqDist(all_words)

In [8]:
# Get the top 5000 words that are already already contained in
# It looks like the way that this was being done in the video was not getting top n words
# Someone in the youtube comments suggested using the most_common() method of NLTK freqDist
# Also, my computer was crashing with 5000 and 3000 words, so I decided to use the most common
# 1000 words which seems to be working fine
word_features=[w[0] for w in all_words_nltk.most_common(1000)]

In [9]:
# We are goin gto pass the documents into here
def find_features(document):
    # This is going to convert a list of words into a set
    words = set(document)
    features = {}
    for w in word_features:
        features[w] = (w in words)
    return features

In [10]:
#feature_set = tweets['text'].progress_apply(lambda x: find_features(x))

In [11]:
featuresets = [(find_features(text), bool(sentiment)) for (text, sentiment) in tqdm(zip(tweets['text'], tweets['target']))]

1600000it [03:07, 8554.41it/s]

In [12]:
pickle_out = open("feature_set","wb")
pickle.dump(featuresets, pickle_out)
pickle_out.close()