## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random
%pprint

Pretty printing has been turned OFF

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [77]:
# Your code here
sample_list_1 = random.sample(range(0,101), 80)

print(sample_list_1)
print(len(sample_list_1))

[92, 25, 73, 8, 39, 35, 96, 33, 61, 6, 41, 46, 74, 81, 32, 44, 2, 75, 82, 34, 93, 100, 67, 7, 64, 60, 24, 9, 54, 77, 51, 21, 86, 29, 12, 53, 17, 27, 83, 97, 56, 91, 31, 40, 63, 16, 98, 52, 88, 70, 20, 48, 68, 85, 65, 15, 50, 23, 49, 87, 59, 69, 95, 42, 80, 45, 94, 0, 28, 26, 38, 47, 72, 66, 58, 55, 57, 30, 76, 99]
80
100
0

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [104]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [110]:
# Your code here
from random import randint

sample_list_2 = []

for number in range(80): 
    myRandomNumber = randint(0, 100)
    sample_list_2.append(myRandomNumber)

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [111]:
# Your code here
set2 = set(sample_list_2)
print(set2)
len(set2)

{5, 9, 11, 12, 13, 14, 15, 17, 19, 21, 23, 24, 26, 27, 29, 30, 31, 32, 33, 35, 36, 38, 39, 40, 41, 45, 46, 49, 52, 53, 56, 58, 62, 64, 65, 68, 70, 71, 72, 73, 74, 76, 80, 84, 86, 88, 89, 90, 91, 92, 93, 95, 97, 99, 100}

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [116]:
# Your code here
set3 = set1 - (set1.intersection(set2))
print(set3)

# This would have been another way to do it with a for loop
#set3 = set([])
#for item in set1:
#    if item not in set2:
#        set3.add(item)
#print(set3)

{0, 2, 6, 7, 8, 16, 20, 25, 28, 34, 42, 44, 47, 48, 50, 51, 54, 55, 57, 59, 60, 61, 63, 66, 67, 69, 75, 77, 81, 82, 83, 85, 87, 94, 96, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [117]:
# Your code here
set4A = set2 - (set2.intersection(set1))
print(set4A)

# This is how you would do it with a for-loop
#set4 = set([])
#for item in set2:
#    if item not in set1:
#        set4.add(item)
#print(set4)

{36, 5, 71, 11, 13, 14, 19, 84, 89, 90, 62}
{36, 5, 71, 11, 13, 14, 19, 84, 89, 90, 62}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [118]:
# Your code here
set5 = set1.union(set2)
print(set5)

{0, 2, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [127]:
# Your code here
a = len(set1)
b = len(set2)
c = len(set3)
d = len(set4)
e = len(set5)

print(a, b, c, d, e)

'''Formula:
C=D, E=A+C
'''

print(e == (a+c))

80 55 36 11 91
False

#### Create an empty set called `set6`.

In [129]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [130]:
# Your code here
set6.update(set3, set5)
set6

{0, 2, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [161]:
# Your code here
set1 == set6
print(set1)
print(set6)

{0, 2, 6, 7, 8, 9, 12, 15, 16, 17, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 80, 81, 82, 83, 85, 86, 87, 88, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
{0, 2, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [163]:
# Your code here
print(set1.issubset(set2))

print(set1.issubset(set3))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [167]:
# Your code here
aggOne = set3.union(set4,set5)

aggTwo = set1.union(set2)

print(aggOne == aggTwo)

True

#### Using the `pop` method, remove the first element from `set1`.

In [170]:
# Your code here
set1.pop()
set1

{6, 7, 8, 9, 12, 15, 16, 17, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 80, 81, 82, 83, 85, 86, 87, 88, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [173]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for number in list_to_remove:
    if number in set1:
        set1.remove(number)

set1

{6, 7, 8, 12, 15, 16, 17, 20, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 38, 40, 42, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 80, 82, 83, 85, 86, 87, 88, 92, 93, 94, 95, 96, 97, 98, 100}